<div class="parent">
    <div class="userbusinfo">
        <h2>GetBuses</h2>
            <form action="#">
                <div class="input-box">
                    <input type="text" [(ngModel)]="UserObj.source_id" name="source_id" required>
                    <label>source_id</label>
                </div>
                <div class="input-box">
                    <input type="text" [(ngModel)]="UserObj.destination_id" name="destination_id" required>
                    <label>destination_id</label>
                </div>
                
                <div class="button">
                    <button type="button" class="btn" (click)="onSearchOption()" >Search</button>
                </div>
            </form>
    </div>

</div>